<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <title>Chatroom | Send and Receive Messages</title>
</head>

<body>
    <header id="header">
        <% include ../partials/header %>
    </header>

    <!-- main -->
    <div id="page-contents">
        <div class="container">
            <div class="row">

                <!-- Newsfeed Common Side Bar Left
              ================================================= -->
                <div class="col-md-3 static">
                    <div class="profile-card">
                        <img src=<%= user.avatar %> alt="user" class="profile-photo" />
                        <% if (user) { %>
                        <h5><a href="/<%= user.account %>" class="text-white"><%= user.name.first %>
                                <%= user.name.last%></a></h5>
                        <% } %>
                        
                    </div>
                    <!--profile card ends-->
                    <ul class="nav-news-feed">
                        <li><i class="icon ion-ios-paper"></i>
                            <div><a href="/">My Newsfeed</a></div>
                        </li>
                        <li><i class="icon ion-ios-people"></i>
                            <div><a href="#">People Nearby</a></div>
                        </li>
                        <li><i class="icon ion-ios-people-outline"></i>
                            <div><a href="/friends">Friends</a></div>
                        </li>
                        <li><i class="icon ion-chatboxes"></i>
                            <div><a href="/messages">Messages</a></div>
                        </li>
                        <li><i class="icon ion-images"></i>
                            <div><a href="/photos">Images</a></div>
                        </li>
                        <li><i class="icon ion-ios-videocam"></i>
                            <div><a href="#">Videos</a></div>
                        </li>
                    </ul>
                    <!--news-feed links ends-->
                    <div id="chat-block">
                        <div class="title">Chat online</div>
                        <ul class="online-users list-inline">
                                <% user.friendsList.forEach(friend => { %>
                                    <li id="online-<%= friend.friendAccount%>" style="display: none;"><a
                                            href="/<%= friend.userId %>" title="<%= friend.friendName%>"><img
                                                src="<%= friend.friendAvatar %>" alt="user"
                                                class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                                    <% }) %>
                            <!-- <li><a href="newsfeed-messages.html" title="Linda Lohan"><img src="/images/users/user-2.jpg"
                                        alt="user" class="img-responsive profile-photo" /><span
                                        class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="Sophia Lee"><img src="/images/users/user-3.jpg"
                                        alt="user" class="img-responsive profile-photo" /><span
                                        class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="John Doe"><img src="/images/users/user-4.jpg"
                                        alt="user" class="img-responsive profile-photo" /><span
                                        class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="Alexis Clark"><img
                                        src="/images/users/user-5.jpg" alt="user"
                                        class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="James Carter"><img
                                        src="/images/users/user-6.jpg" alt="user"
                                        class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="Robert Cook"><img src="/images/users/user-7.jpg"
                                        alt="user" class="img-responsive profile-photo" /><span
                                        class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="Richard Bell"><img
                                        src="/images/users/user-8.jpg" alt="user"
                                        class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="Anna Young"><img src="/images/users/user-9.jpg"
                                        alt="user" class="img-responsive profile-photo" /><span
                                        class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="Julia Cox"><img src="/images/users/user-10.jpg"
                                        alt="user" class="img-responsive profile-photo" /><span
                                        class="online-dot"></span></a></li> -->
                        </ul>
                    </div>
                    <!--chat block ends-->
                </div>
                <div class="col-md-7">

                    <!-- Post Create Box
                ================================================= -->
                    <div class="create-post">
                        <div class="row">
                            <div class="col-md-7 col-sm-7">
                                <div class="form-group">
                                    <img src="<%= user.avatar %>" alt="" class="profile-photo-md" />
                                    <textarea name="texts" id="exampleTextarea" cols="30" rows="1" class="form-control"
                                        placeholder="Write what you wish"></textarea>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <div class="tools">
                                    <ul class="publishing-tools list-inline">
                                        <li><a href="#"><i class="ion-compose"></i></a></li>
                                        <li><a href="#"><i class="ion-images"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-videocam"></i></a></li>
                                        <li><a href="#"><i class="ion-map"></i></a></li>
                                    </ul>
                                    <button class="btn btn-primary pull-right">Publish</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- Post Create Box End -->

                    <!-- Chat Room
                ================================================= -->
                    <% if (conversations.length > 0)  { %>
                    <div class="chat-room">
                        <div class="row">
                            <div class="col-md-5">


                                <!-- Contact List in Left-->
                                <ul class="nav nav-tabs contact-list scrollbar-wrapper scrollbar-outer">

                                    <% conversations.forEach( conver => { %>

                                    <li id="conver-<%= conver.message[0].conversationId %>">
                                        <input type="hidden" value="<%= conver.message[0].conversationId %>" />
                                        <a href="/messages/t/<%= conver.message[0].conversationId %>">
                                            <div class="contact">
                                                <img src="<%= conver.owner.avatar %>" alt=""
                                                    class="profile-photo-sm pull-left" />
                                                <div class="msg-preview">
                                                    <h6><%= conver.owner.name.first %> <%= conver.owner.name.last %>
                                                    </h6>
                                                    <% if (conver.message[0].body === '2 bạn đã là bạn bè') { %>
                                                    <p class="text-muted"><%= conver.message[0].body %></p>

                                                    <% } else { %>
                                                    <% if (conver.message[0].author.account === user.account) { %>
                                                    <p class="text-muted">you: <%= conver.message[0].body %></p>

                                                    <% } else { %>
                                                    <p class="text-muted"><%= conver.message[0].body %></p>
                                                    <% } %>
                                                    <% } %>
                                                    <small class="text-muted"><%= conver.timeOfMessage %></small>


                                                    <!-- <div class="chat-alert">1</div> -->
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <% })%>
                                </ul>
                                <!--Contact List in Left End-->

                            </div>
                            <!--Chat Messages in Right-->
                            <div class="col-md-7">

                                <div class="tab-content scrollbar-wrapper wrapper scrollbar-outer">
                                    <div class="tab-pane active">
                                        <div class="chat-body">
                                            <!-- <h5>2 bạn đã là bạn bè</h5> -->
                                            <ul class="chat-message" id="box-conversation">
                                                <% if (conversation.length !== 0) { %>
                                                <% conversation.forEach(message => { %>
                                                <% if(message.body !== '2 bạn đã là bạn bè') { %>
                                                <% if (message.author.account === user.account) { %>
                                                <li class="right">
                                                    <img src="<%= message.author.avatar %>" alt=""
                                                        class="profile-photo-sm pull-right" />
                                                    <div class="chat-item">
                                                        <div class="chat-item-header">
                                                            <h5><%= message.author.name.first %>
                                                                <%= message.author.name.last %></h5>
                                                            <small
                                                                class="text-muted"><%= message.timeOfMessage %></small>
                                                            <h2><%= message.conversationId %></h2>
                                                        </div>
                                                        <p><%= message.body %></p>
                                                    </div>
                                                </li>
                                                <% } else { %>
                                                <li class="left">
                                                    <img src="<%= message.author.avatar %>" alt=""
                                                        class="profile-photo-sm pull-left" />
                                                    <div class="chat-item">
                                                        <div class="chat-item-header">
                                                            <h5><%= message.author.name.first %>
                                                                <%= message.author.name.last %></h5>
                                                            <small
                                                                class="text-muted"><%= message.timeOfMessage %></small>

                                                        </div>
                                                        <p><%= message.body %></p>
                                                    </div>
                                                </li>
                                                <% } %>
                                                <% } %>
                                                <% }) %>
                                                <% } %>

                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <!--Chat Messages in Right End-->
                                <% if (conversation.length !== 0) { %>
                                <div class="send-message">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Type your message"
                                            id="input-send-message" />
                                        <input type="hidden" value="<%= conversationId %>">
                                        <span class="input-group-btn">
                                            <button class="btn btn-info" type="button"
                                                onclick="sendReply(this)">Send</button>
                                        </span>
                                    </div>
                                </div>
                                <% } %>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <% } else { %>
                    <div class="chat-room">
                        <h1>chua ket ban</h1>
                    </div>

                    <% } %>
                </div>
                <!-- Newsfeed Common Side Bar Right
              ================================================= -->
                <div class="col-md-2 static">
                    <div class="suggestions" id="sticky-sidebar">
                        <h4 class="grey">Who to Follow</h4>
                        <div class="follow-user">
                            <img src="/images/users/user-11.jpg" alt="" class="profile-photo-sm pull-left" />
                            <div>
                                <h5><a href="timeline.html">Diana Amber</a></h5>
                                <a href="#" class="text-green">Add friend</a>
                            </div>
                        </div>
                        <div class="follow-user">
                            <img src="/images/users/user-12.jpg" alt="" class="profile-photo-sm pull-left" />
                            <div>
                                <h5><a href="timeline.html">Cris Haris</a></h5>
                                <a href="#" class="text-green">Add friend</a>
                            </div>
                        </div>
                        <div class="follow-user">
                            <img src="/images/users/user-13.jpg" alt="" class="profile-photo-sm pull-left" />
                            <div>
                                <h5><a href="timeline.html">Brian Walton</a></h5>
                                <a href="#" class="text-green">Add friend</a>
                            </div>
                        </div>
                        <div class="follow-user">
                            <img src="/images/users/user-14.jpg" alt="" class="profile-photo-sm pull-left" />
                            <div>
                                <h5><a href="timeline.html">Olivia Steward</a></h5>
                                <a href="#" class="text-green">Add friend</a>
                            </div>
                        </div>
                        <div class="follow-user">
                            <img src="/images/users/user-15.jpg" alt="" class="profile-photo-sm pull-left" />
                            <div>
                                <h5><a href="timeline.html">Sophia Page</a></h5>
                                <a href="#" class="text-green">Add friend</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <% include ../partials/footer %>

    <!-- script -->
    <% include ../partials/script %>
    <script src="/js/lib/conversations.js"></script>
</body>

</html>